/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

#console {
}

.Red {
    color: red;
}

.Gray {
    color: black;
}

.Green {
    color: green;
}

.Cyan {
    color: cyan;
}

.Yellow {
    color: yellow;
}
}
