/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.console {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
    background-color: #000;
    color: #63de00;
}
