@page "/"
@using global::Blzr.Console;
@using Microsoft.Extensions.Logging;

@inject ILogger<App> _logger
@*<h1>Hello, world!</h1>

    Welcome to your new app.*@

<p><button @onclick="OnStartConsoleAppClick">start console app</button></p>
@*<button onclick=@(async () =>await DeleteAllCustomers())>Delete all customers</button>*@
<p>
    <Blzr.Console.BlazorConsole @ref="c"
                                Name="fooTest"
                                ShowRepositoryUrl="true"
                                AutoScroll="true"
                                SetAutoFocusToConsoleInput="true"
                                UseOriginalSystemConsole="true" />
</p>


@code
{ BlazorConsole c;

            private void OnStartConsoleAppClick(MouseEventArgs mouseEventArgs)
            {
                //c.WriteLineAsync();
                //InvokeAsync(ConsoleTest.StartAsync).ContinueWith(a =>
                //{
                //    if (a.Exception != null)
                //    {
                //        _logger.LogError(a.Exception, nameof(OnStartConsoleAppClick));
                //    }
                //});
                InvokeAsync(SystemConsoleTest.StartAsync).ContinueWith(a =>
                {
                    if (a.Exception != null)
                    {
                        _logger.LogError(a.Exception, nameof(OnStartConsoleAppClick));
                    }
                });

            }

            protected async override Task OnAfterRenderAsync(bool firstRender)
            {
                await base.OnAfterRenderAsync(firstRender);
            } }