@page "/"
@using Blazor.Console;
@using System.Threading;

@*<h1>Hello, world!</h1>

    Welcome to your new app.*@

<Blazor.Console.BlazorConsole Name="fooTest" @ref="console" />

@*<button onclick="@StartConsoleApp();">start console app</button>*@

@code
{
    BlazorConsole console;

    private Task StartConsoleApp()
    {
        return InvokeAsync(ConsoleTest.StartAsync);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

        //Task.Run(() => ConsoleTest.StartAsync()).ContinueWith(a =>
        //{
        //    if (a.Exception != null)
        //    {
        //        Console.WriteLine(a.Exception);
        //    }
        //}).ConfigureAwait(false);

        //await ConsoleTest.StartAsync();

        InvokeAsync(ConsoleTest.StartAsync);

        //Thread t = new Thread(
        //async () =>
        //{
        //    await ConsoleTest.StartAsync();
        //});
        //t.IsBackground = true;
        //t.Name = "console";
        //t.Start();

        //ConsoleTest.StartAsync().ConfigureAwait(false);

        //Task.Run(() => console.WriteLine("Task")).ContinueWith(a =>
        //{
        //    if (a.Exception != null)
        //    {
        //        Console.WriteLine(a.Exception);
        //    }
        //}).ConfigureAwait(false);


        await base.OnAfterRenderAsync(firstRender);
    }
}