@page "/"
@using Blazor.Console;
@using System.Threading;
@using Microsoft.Extensions.Logging;

@inject ILogger<App> _logger
@*<h1>Hello, world!</h1>

    Welcome to your new app.*@

<p><button @onclick="OnStartConsoleAppClick">start console app</button></p>

<p><Blazor.Console.BlazorConsole Name="fooTest" @ref="console" /></p>


@code
{
    BlazorConsole console;

    private void OnStartConsoleAppClick(MouseEventArgs mouseEventArgs)
    {
        InvokeAsync(ConsoleTest.StartAsync).ContinueWith(a =>
        {
            if (a.Exception != null)
            {
                _logger.LogError(a.Exception,nameof(OnStartConsoleAppClick));
            }
        });
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
}