@page "/"
@using Blazor.Console;

@*<h1>Hello, world!</h1>

    Welcome to your new app.*@

<Blazor.Console.BlazorConsole Name="fooTest" @ref="console" />

@code
{
    BlazorConsole console;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await ConsoleTest.StartAsync();
        await base.OnAfterRenderAsync(firstRender);
    }
}